body{
    margin: 0;
}

.nav{
   background-color:#232323;
    color:white;
}

.container{
    max-width: 1000px;   
}

.container > *{
    display:inline-block;
}

.list > div{
    display:inline-block;
}